<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="layout :: page" lang="en">
<body>
<div th:fragment="content">
    Logged user: <span sec:authentication="name">Username</span>
    <br />
    Roles: <span sec:authentication="principal.authorities">Roles</span>
    <p>
    <h1>My GrowPrograms:</h1>
    </p>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>Watering Parameters</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grow_program : ${growPrograms}">
                <td><h3  th:text="${grow_program.id}"></h3></td>
                <td>
                    <h3>
                    <a th:href="${'/grow_programs/' + grow_program.getId()}" th:text="${grow_program.name}"> </a>
                    </h3>
                </td>
                <td><h3  th:text="${grow_program.description}"></h3></td>
                <td><h3  th:text="${grow_program.wateringParameters.getName()}"></h3></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>