<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Green box inc.</title>
</head>
<body>
<div th:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Volume of water</th>
            <th>Interval between watering</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parameter : ${wateringParameters}">
            <td><p  th:text="${parameter.id}"></p></td>
            <td><a  th:href="@{${#httpServletRequest.requestURI} +'/'+ ${parameter.id}}" th:text="${parameter.name}"></a></td>
            <td><p  th:text="${parameter.getVolume()}"></p></td>
            <td><p  th:text="${parameter.getInterval()}"></p></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{${#httpServletRequest.requestURI} + '/add'}">
        <button th:text="${'Create ' + 'new watering parameters'}"></button>
    </form>
</div>
</body>
</html>