<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Green box inc.</title>
</head>
<body>
<div th:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>wateringParametersId</th>
            <th>temperatureId</th>
            <th>lightId</th>
            <th>co2Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grow_program : ${growPrograms}">
            <td><p  th:text="${grow_program.id}"></p></td>
            <td><a th:href="@{${#httpServletRequest.requestURI} + '/' + ${grow_program.id}}"   th:text="${grow_program.name}"></a></td>
            <td><p  th:text="${grow_program.description}"></p></td>
            <td>
                <p>
                    <a th:href="${'/watering_parameters/' + grow_program.wateringParameters.getId()}"
                      th:text="${grow_program.wateringParameters.getName()}"></a>
                </p>
            </td>
            <td><p><a  th:href="${'/points/temperature/' + map.get(grow_program.getId()).get(0).getId()}"
                       th:text="${map.get(grow_program.getId()).get(0).getName()}"></a><p></td>
            <td><p><a  th:href="${'/points/light/' + map.get(grow_program.getId()).get(1).getId()}"
                       th:text="${map.get(grow_program.getId()).get(1).getName()}"></a><p></td>
            <td><p><a  th:href="${'/points/co2/' + map.get(grow_program.getId()).get(2).getId()}"
                       th:text="${map.get(grow_program.getId()).get(2).getName()}"></a><p></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{${#httpServletRequest.requestURI} + '/add'}">
        <button>Create GrowProgram</button>
    </form>
</div>
</body>
</html>