<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Green box inc.</title>
</head>
<body>

<p>GrowProgram id:</p>   <p  th:text="${program.id}"/></td>
<p>GrowProgram name:</p> <p  th:text="${program.name}"/></td>
<p>GrowProgram description:</p>   <p  th:text="${program.description}"/></td>
<p>water interval</p> <p  th:text="${program.waterIntervalId}"/></td>
<p>water volume</p> <p  th:text="${program.waterVolumeId}"/></td>
</body>
</html>