<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}">..!..</title>
</head>
<body>
<div th:fragment="content">
    <h1>Hello man</h1>
    <h2 th:utext="${message}">..!..</h2>
    <h3>
        <a href="/green_boxes">Green boxes</a>
        <small class="text-muted">Your beautiful boxes</small>
    </h3>
    <h3>
        <a href="/grow_programs">Grow programs</a>
        <small class="text-muted">Programs from all around the world</small>
    </h3>
    <h3>
        <a href="/watering_parameters">Watering Parameters</a>
        <small class="text-muted">Just drown your plants</small>
    </h3>
    <h3>
        <a href="/points/temperature">Temperature parameters</a>
        <small class="text-muted">You can burn them if u want </small>
    </h3>
    <h3>
        <a href="/points/light">Light parameters</a>
        <small class="text-muted"> Sun shining bright above you ...</small>
    </h3>
    <h3>
        <a href="/points/co2">CO2 parameters</a>
        <small class="text-muted"> CO3,4,5 coming soon... </small>
    </h3>
</div>
</body>
</html>