<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Testing page</title>
</head>
<body>
    <div th:fragment="content">
    This is test
    <br>
    <div id="your-id" style="height: 600px;"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            // Create liteChart.js Object
            let d = new liteChart("chart");
            var xhr = new XMLHttpRequest();
            var arr;
            xhr.onreadystatechange = function() { // (3)
                if (xhr.readyState != 4) return;
                    //alert(xhr.responseText.split(','));
                    arr = JSON.parse(xhr.responseText);
                    // Set labels
                    d.setLabels(["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"]);

                    // Set legends and values
                    d.addLegend({"name": "Day circle", "stroke": "#CDDC39", "fill": "#fff", "values": arr});

                    // Inject chart into DOM object
                    let div = document.getElementById("your-id");
                    d.inject(div);

                    // Draw
                    d.draw();
                if (xhr.status != 200) {
                    alert(xhr.status + ': ' + xhr.statusText);
                } else {
                    //alert(xhr.responseText);
                }
            }
            xhr.open('GET', 'http://localhost:8080/test_json', true);
            xhr.setRequestHeader('Accept','application/json')
            xhr.send(); // (1)
        });
    </script>

    <script th:src="@{http://localhost:8080/js/lib/liteChart.min.js}" ></script>
    </div>
</body>

</html>