<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Green box inc.</title>
</head>
<body>
    <div th:fragment="content">
    <p>GreenBox user:</p> <p  th:text="${user.getUsername()}"></p>
    <p>GreenBox id:</p>   <p  th:text="${greenBox.id}"></p>
    <p>GreenBox name:</p> <p  th:text="${greenBox.name}"></p>
    <p>GrowProgram:</p>   <p  th:text="${greenBox.getGrowProgram().getId()}"></p>
    </div>
</body>
</html>