<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Green box inc.</title>
</head>
<body>
    <div th:fragment="content">
    <h3>GreenBox user:</h3> <h3  th:text="${user.getUsername()}"></h3>
    <h3>GreenBox id:</h3>   <h3  th:text="${greenBox.id}"></h3>
    <h3>GreenBox name:</h3> <h3  th:text="${greenBox.name}"></h3>
    <h3>GrowProgram:
        <a  th:href="'/grow_programs/'+ ${greenBox.getGrowProgram().getId()}" th:text="${greenBox.getGrowProgram().getName()}"></a>
    </h3>
    <form method="get" th:action="@{${#httpServletRequest.requestURI} + '/edit'}">
        <button>Edit this GreenBox</button>
    </form>
    <form method="post" th:action="@{${#httpServletRequest.requestURI} + '/delete'}">
        <button>Delete this GreenBox</button>
    </form>
    </div>
</body>
</html>